<ion-view view-title="Account">
	<ion-header-bar align-title="left" class="index-head">			
			<span class="h_1"><img src="../img/grzx.png"><h4>个人中心</h4></span>	
			<span class="h_2"><img src="../img/bj.png"></span>	
			<span class="h_3"><img src="../img/xx.png"></span>				
	</ion-header-bar>

  <ion-content>
		<div class="subheader">				
			<span class="sh_1"><img src="../img/1111.jpg"></span>
			<span class="sh_2"><img src="../img/xmbk84x20.png"></span>				
		    <span class="row">
			     <span class="col">170<br>收藏的活</span>
				 <span class="col">27<br>收藏的企业</span>
				 <span class="col">57<br>我的足迹</span>
			</span>	
		</div>
		<br>
		<div class="list">
            <div class="item">
                我的申请
                <span style="float:right;">             	
                	<font color=gray size="2">查看全部已中标活计</font>
                	<i class="ion-ios-arrow-right"></i>
                </span>					
            </div>
            <div class="item item-text-wrap">
               <div class="row">
					<a class="col"><img src="../img/ysq.png" style="width:100%;height:100%;"></a>
					<a class="col"><img src="../img/yzb.png" style="width:100%;height:100%;"></a>
					<a class="col"><img src="../img/wzb.png" style="width:100%;height:100%;"></a>
					<a class="col"><img src="../img/dpj.png" style="width:100%;height:100%;"></a>
					<a class="col"><img src="../img/xwq.png" style="width:100%;height:100%;"></a>
		       </div>
            </div>
        </div>
		<div class="list">
            <div class="item item-divider item-light item-button-right">
			    <img src="../img/qb.png">
                &nbsp;我的卡劵			
				<i class="ion-ios-arrow-right icon-right" style="float:right"></i>
            </div>
            <div class="item item-divider item-light item-button-right">
                 <img src="../img/shq.png">
                &nbsp;生活券			
				<i class="ion-ios-arrow-right icon-right" style="float:right"></i>
            </div>
			<div class="item item-divider item-light item-button-right">
                <img src="../img/ylq.png">
                &nbsp;娱乐券
                <span style="float:right;">
					<font color=gray size=2>暂无可用优惠券</font>
					<i class="ion-ios-arrow-right icon-right"></i>
				</span>
            </div>
			<div class="item item-divider item-light item-button-right">
                <img src="../img/hyk.png">
                &nbsp;会员卡
                <span style="float:right;">		
					<font color=gray size=2>一卡在手，生活无忧</font>
					<i class="ion-ios-arrow-right icon-right" style="float:right"></i>
				</span>
            </div>
		
        </div>
  </ion-content>
</ion-view>
