<ion-view view-title="Dashboard">
	<ion-header-bar align-title="left" class="index-head">
		<img src="img/top.png" alt="" class="icon-left">
	</ion-header-bar>
    <ion-content class="index-body" scroll="true">
    	<div class="img">
    		<a href=""><img src="img/1.png" alt=""></a>
    	</div>	
    	<div class="row">
			<div class="col">
				<a href="" ng-click="pubjob()">
					<img src="img/zh.png" alt="" class="first-top">
				</a>
				<a href="" ng-click="search(zx)">
					<img src="img/zx.png" alt="" class="bottom">
				</a>
				<a href="" ng-click="search(sangong)">
					<img src="img/sangong.png" alt="" class="bottom">
				</a>
			</div>
	        <div class="col">
	        	<a href="">
	        		<img src="img/search_yong.png" alt="" class="first-top">
	        	</a>
	        	<a href="" ng-click="search(tujian)">
	        		<img src="img/tujian.png" alt="" class="bottom">
	        	</a>
	        	<a href="" ng-click="search(service)">
	        		<img src="img/service.png" alt="" class="bottom">
	        	</a>
	        </div>
		</div>
    </ion-content>
</ion-view>